@{
    Layout = "Errors/_ErrorsLayout";
    ViewData["PageTitle"] = "page not found";
}

<!-- Container -->
<div class="flex-fill">
    <!-- Error title -->
    <div class="text-center mb-3">
        <h3 class="error-title">404</h3>
        <h5>Sorry, an error has occurred.</h5>
        <h5 class="font-weight-bold">The page is not found!</h5>
    </div>
    <!-- /error title -->
    <!-- Error content -->
    <div class="row">
        <div class="col-xl-4 offset-xl-4 col-md-8 offset-md-2">

            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <a href="/" class="btn btn-primary btn-block">
                        Back home
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- /error wrapper -->
</div>
<!-- /container -->
